/* Global page styling */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f2f5f9;
}

/* Form container */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Input fields */
input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 22%;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #3498db;
}
.title{
    border: 1px solid black;
    padding: 3px ;
    width: 180px;
    margin-left: 43%;
    background-color: #cbdcf2;
    border-radius: 10px;
}
/* Button */
.updatebtn{
  padding: 15px 22px;
  border-radius: 6px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}
.deletebtn{
  padding: 15px 22px;
  border-radius: 6px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}
.addbtn{
    padding: 15px 22px;
  border-radius: 6px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 45%;
}

button:hover {
  opacity: 0.85;
}
.bookForm{
  width: 80%;
  margin: 15px auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-details {
  text-align: left;
  width: 70%;
}
.book-details h3 {
  margin: 0 0 8px;
  color: #2c3e50;
}

.book-details p {
  margin: 4px 0;
  font-size: 14px;
}
.book-actions {
  display: flex;
  gap: 10px;
}


/* List items (if you use <li>) */
li {
  margin: 8px 0;
}




